* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#img_banner {
    position: absolute;
    width: 324px;
    height: 84px;
    left: 537px;
    top: 16px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 1440px;
    height: 48px;
    left: 0px;
    top: 117px;
    background: #FFA000;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: lowercase;
    color: white;
}

header {
    position: relative;
    width: 1440px;
    height: 117px;
    left: 0px;
    top: 0px;
    background: #FFC107;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.banner_form h1 {
    position: absolute;
    width: 419px;
    height: 170px;
    left: 122px;
    top: 214px;

    font-weight: 700;
    font-size: 70px;

    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);

}

.image {
    position: absolute;
    left: 127px;
    top: 667px;

    border-radius: 20px;
}

.itens {
    box-sizing: border-box;
    position: absolute;
    width: 820px;
    height: 766px;
    left: 492px;
    top: 672px;

    background: #FFFFFF;
    border: 1px solid #FFA000;
    border-radius: 20px;
}

.itens h2 {
    position: absolute;
    left: 30px;
    top: 50px;

    font-family: 'montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;

    color: #FFC107;
}

#nome {
    box-sizing: border-box;

    position: absolute;
    width: 700px;
    height: 40px;
    top: 180px;
    left: 30px;

    font-family: 'montserrat';
    font-size: 16px;
    line-height: 22px;

    background: #FFFFFF;
    border: 1px solid #FFA000;
    border-radius: 7px;
}

#email {
    box-sizing: border-box;

    position: absolute;
    width: 700px;
    height: 40px;
    top: 260px;
    left: 30px;

    font-family: 'montserrat';
    font-size: 16px;
    line-height: 22px;

    background: #FFFFFF;
    border: 1px solid #FFA000;
    border-radius: 7px;
}

#mensagem {
    box-sizing: border-box;

    position: absolute;
    width: 700px;
    height: 300px;
    top: 340px;
    left: 30px;

    font-family: 'montserrat';
    font-size: 16px;
    line-height: 22px;

    background: #FFFFFF;
    border: 1px solid #FFA000;
    border-radius: 7px;
}

.itens button {
    position: absolute;
    width: 130px;
    height: 50px;
    top: 650px;
    left: 50px;

    font-family: "montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;

    color: #FFFFFF;
    background: #FFC107;
    border-radius: 50px;
    border: #FFC107;
}

footer {
    position: absolute;
    width: 1440px;
    height: 119px;
    left: 0px;
    top: 1571px;

    background: #FFC107;

}

#logofooter {
    position: absolute;
    width: 324px;
    height: 84px;
    left: 6px;
    top: 15px;
}

#copy {
    position: absolute;
    width: 464px;
    height: 22px;
    left: 368px;
    top: 50px;

    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
}