* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 1.6rem;
}

html {
    font-size: 62.5%;
}

header.container {
    background: #FFC107;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);

}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
}

.logo img {
    max-width: 1440px;
    width: 32.4rem;
    height: 8.4rem;
}

nav {
    background: #FFA000;
}

.navigation ul {
    display: flex;
    justify-content: center;
    margin-inline: auto;
    max-width: 1440px;
}

.navigation li{
    list-style: none;
    padding: 1rem 2rem 1rem 2rem;
}

.navigation a {
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
    color: #ffffff;
}

footer {
    background: #FFC107;
}

.container-f {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-inline: auto;
    max-width: 1440px;
}

.container-f img {
    width: 32.4rem;
    height: 8.4rem;
}

.container-f p {
    padding: 2rem;
    font-weight:700;
    font-size: 1.8rem;
    color: #ffffff;
}


@media (max-width: 1024px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 790px) {
    html {
        font-size: 40%;
    }
    .outras_receitas {
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }
}

@media (max-width: 690px) {
    .todas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        row-gap: 5rem;
    
    }
    .sessao {
        flex-direction: column;
    }
    
}
    
@media (max-width: 500px) {
  html {
    font-size: 35%;
  }

}