@import url(general.css);

/* INDEX.HTML*/

.banner1 {
    display: flex;
    justify-content: right;
    align-items: center;
    max-width: 1440px;
    margin-inline: auto;
    background-image: url(../img/image\ 1.png);
    background-position: center;
    background-size: cover;
    height: 64rem;
}

.banner1 h1 {
    padding-right: 8rem;
    font-weight: 700;
    font-size: 7rem;
    line-height: 8.5rem;
    margin-inline: auto;
    max-width: 1440px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);
}

.titulo {
    margin-inline: auto;
    max-width: 1440px;
    padding-block: 5rem;
    font-weight: 700;
    font-size: 5rem;
    text-align: center;

    color: #FFA000;
}

.outras_receitas {
    display: flex;
    justify-content: space-evenly;
    margin-inline: auto;
    max-width: 1440px;
    padding-block: 5rem;

}

.outras_receitas img {
    width: 34.5rem;
    height: 34.2rem;
}

.outras_receitas p {
    font-weight: 600;
    font-size: 2.6rem;
    text-align: center;
    padding: 2rem;
}

.outras_receitas button {
    width: 18.5rem;
    height: 4.8rem;
    border: none;
   
    font-weight: 700;
    font-size: 2.4rem;
    background-color: #176902;
}

.outras_receitas button a {
    text-decoration: none;
    color: #FFFFFF;
}

.pgn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1440px;
    margin-inline: auto;
    background-image: url(../img/image\ 2.png);
    background-position: center;
    background-size:auto;
    height: 77.2rem;

}

.banner2 article h2 {
     font-weight: 700;
    font-size: 6.5rem;
    padding: 3rem 10rem;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.banner2 article p {
     width: 50rem;
    padding: 3rem 10rem;
    font-weight: 500;
    font-size: 2.4rem;

    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* RECEITAS */


.titulo-receitas {
    display: flex;
    margin-inline: auto;
    max-width: 1440px;
   
}

.titulo-receitas h1 {
    font-weight: 700;
    font-size: 5rem;
    padding-block: 8rem;
    padding-left: 6rem;
    color: #FFA000;
}

.todas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 15rem;
    max-width: 1440px;
    margin-inline: auto;
    padding: 0 8rem  8rem 8rem;
    

}

.pgn1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pgn1 img {
    width: 34.5rem;
    height: 34.2rem;

}

.pgn1 p {
    font-weight: 600;
    font-size: 2.6rem;
    padding-block: 2rem;
    color: #000000;
}

.pgn1 button {
    width: 18.5rem;
    height: 4.8rem;
    background-color: #176902;
    border: none;
}

.pgn1 a {
    text-decoration: none;
    font-weight: 700;
    font-size: 2.4rem;
    color: #FFFFFF;
}

/* INTERNA */
.abobora {
    margin-inline: auto;
    max-width: 1440px;
    padding-block-start: 8rem;
    padding-left: 8rem;
}

.abobora h1 {
    font-weight: 700;
    font-size: 5rem;

    color:#FFA000
}

.sessao {
    display: flex;
    justify-content: center;
    margin-inline: auto;
    max-width: 1440px;

}

article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem;

}

article img {
    width: 59.2rem;
    height: 31.1rem;
}

.botao {
    display: flex;
    justify-content: flex-start;
    padding: 2rem;
    column-gap: 2rem;
    
}

#botao1 {
    box-sizing: border-box;
    width: 9.5rem;
    height: 3.1rem;
    font-weight: 600;
    font-size: 1.8rem;

    color: #176902;

    border: .2rem solid #176902;
    border-radius: 4.7rem;
}

#botao2{
    box-sizing: border-box;
    width: 19.6rem;
    height: 3.1rem;
    font-weight: 600;
    font-size: 1.8rem;
    
    color: #176902;
    border: .2rem solid #176902;
    border-radius: 4.7rem;
}

.ingredientet {
    font-weight: 700;
    font-size: 2rem;
}

#ingrediente1 {
    font-weight: 300;
    font-size: 2rem;
    width: 59.2rem;
}

#preparo iframe{
 padding: 2rem;
 width: 56rem;
 height:31.5rem;
}

aside { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    padding: 4rem;
    row-gap: 3rem;

}

aside h2 {
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
    color: #FFA000;

}

.outras {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    width: 34.5rem;
    height: 41.1rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.outras img {
    width: 34.5rem;
    height: 34.2rem;
}

.outras p {
    font-size: 2.6rem;
    text-align: center;
}

.outras a {
    text-decoration: none;
    color: #000000;
}

/* CONTATO */
