@import url(general.css);

/* INDEX.HTML*/

.banner1 {
    display: flex;
    justify-content: right;
    align-items: center;
    max-width: 1440px;
    margin-inline: auto;
    background-image: url(../img/image\ 1.png);
    background-position: center;
    background-size: cover;
    height: 64rem;
}

.banner1 h1 {
    padding-right: 8rem;
    font-weight: 700;
    font-size: 7rem;
    line-height: 8.5rem;
    margin-inline: auto;
    max-width: 1440px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);
}

.titulo {
    margin-inline: auto;
    max-width: 1440px;
    padding-block: 5rem;
    font-weight: 700;
    font-size: 5rem;
    text-align: center;

    color: #FFA000;
}

.outras_receitas {
    display: flex;
    justify-content: space-evenly;
    margin-inline: auto;
    max-width: 1440px;
    padding-block: 5rem;

}

.outras_receitas img {
    width: 34.5rem;
    height: 34.2rem;
}

.outras_receitas p {
    font-weight: 600;
    font-size: 2.6rem;
    text-align: center;
    padding: 2rem;
}

.outras_receitas button {
    width: 18.5rem;
    height: 4.8rem;
    border: none;
   
    font-weight: 700;
    font-size: 2.4rem;
    background-color: #176902;
}

.outras_receitas button a {
    text-decoration: none;
    color: #FFFFFF;
}

.pgn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1440px;
    margin-inline: auto;
    background-image: url(../img/image\ 2.png);
    background-position: center;
    background-size:auto;
    height: 77.2rem;

}

.banner2 article h2 {
     font-weight: 700;
    font-size: 6.5rem;
    padding: 3rem 10rem;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.banner2 article p {
     width: 50rem;
    padding: 3rem 10rem;
    font-weight: 500;
    font-size: 2.4rem;

    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* RECEITAS */


.titulo-receitas {
    display: flex;
    margin-inline: auto;
    max-width: 1440px;
   
}

.titulo-receitas h1 {
    font-weight: 700;
    font-size: 5rem;
    padding-block: 8rem;
    padding-left: 6rem;
    color: #FFA000;
}

.todas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 1440px;
    margin-inline: auto;
    row-gap: 10rem;
    padding-block-end: 8rem;

}

.pgn1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pgn1 img {
    width: 34.5rem;
    height: 34.2rem;

}

.pgn1 p {
    font-weight: 600;
    font-size: 2.6rem;
    padding-block: 2rem;
    color: #000000;
}

.pgn1 button {
    width: 18.5rem;
    height: 4.8rem;
    background-color: #176902;
    border: none;
}

.pgn1 a {
    text-decoration: none;
    font-weight: 700;
    font-size: 2.4rem;
    color: #FFFFFF;
}

/* INTERNA */

