* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#img_banner {
    position: absolute;
    width: 324px;
    height: 84px;
    left: 537px;
    top: 16px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 1440px;
    height: 48px;
    left: 0px;
    top: 117px;
    background: #FFA000;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: lowercase;
    color: white;
}

header {
    position: relative;
    width: 1440px;
    height: 117px;
    left: 0px;
    top: 0px;
    background: #FFC107;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.txt h2 {
    position: absolute;
    width: 440px;
    height: 61px;
    left: 122px;
    top: 269px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;

    color: #FFA000;
}



.outras_receitas {
    display: grid;
    grid-template-columns: repeat(3, 342px);
    grid-template-rows: auto;
    column-gap: 70px;
    row-gap: 30px;
    margin: 270px 120px 0px 120px;

}

.outras_receitas img {
    width: 345px;
    height: 342px;
}

.outras_receitas p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    padding: 20px;

    color: #000000;

}

.outras_receitas button {
    position: relative;
    width: 185px;
    height: 48px;
    border: none;
    left: 25%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;

    color: white;
    background-color: #176902;
}


footer {
    position: absolute;
    width: 1440px;
    height: 119px;
    left: 0px;
top: 2106px;

    background: #FFC107;

}

#logofooter {
    position: absolute;
    width: 324px;
    height: 84px;
    left: 6px;
    top: 15px;
}

#copy {
    position: absolute;
    width: 464px;
    height: 22px;
    left: 368px;
    top: 50px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
}